aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==2.0.0
aiosignal==1.2.0
alembic==1.4.1
aniso8601==9.0.1
anyio==3.3.4
asgiref==3.4.1
astroid==2.8.5
async-timeout==4.0.1
attrs==21.2.0
autopep8==1.6.0
azure-core==1.20.1
azure-storage-blob==12.9.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
blessings==1.7
blis==0.7.4
boto3==1.20.10
botocore==1.23.10
bs4==0.0.1
cachetools==4.2.4
catalogue==2.0.4
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.4
coverage==6.1.2
cryptography==35.0.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
databricks-cli==0.16.2
decorator==5.1.0
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.3
docker==5.0.3
dotmap==1.3.25
elastic-apm==6.7.0
elasticsearch==7.10.0
en-core-web-sm==3.0.0
entrypoints==0.3
faiss-cpu==1.7.1.post2
farm==0.8.0
farm-haystack==0.10.0
fastapi==0.70.0
filelock==3.4.0
Flask==2.0.2
Flask-Cors==3.0.10
flask-restplus==0.13.0
frozenlist==1.2.0
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.24
glove==1.0.0
google-api-core==2.2.2
google-auth==2.3.3
googleapis-common-protos==1.53.0
gpustat==0.6.0
greenlet==1.1.2
grpcio==1.37.1
grpcio-tools==1.37.1
gunicorn==20.1.0
h11==0.12.0
httptools==0.3.0
huggingface-hub==0.1.2
idna==2.10
importlib-resources==5.4.0
isodate==0.6.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.2.1
kiwisolver==1.3.1
langdetect==1.0.9
lazy-object-proxy==1.6.0
lxml==4.6.4
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.4.2
mccabe==0.6.1
mlflow==1.13.1
mmh3==3.0.0
more-itertools==8.11.0
msgpack==1.0.2
msrest==0.6.21
multidict==5.2.0
murmurhash==1.0.5
networkx==2.6.3
nltk==3.6.2
numpy==1.20.3
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.8.0
opencensus-context==0.1.2
packaging==20.9
pandas==1.2.4
pathy==0.5.2
pdf2image==1.14.0
Pillow==8.3.2
platformdirs==2.4.0
pluggy==1.0.0
preshed==3.0.5
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
protobuf==3.19.1
psutil==5.8.0
psycopg2-binary==2.9.2
py==1.11.0
py-spy==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.7.4
pylint==2.11.1
pymilvus==1.1.2
pyparsing==2.4.7
pyrsistent==0.18.0
pytesseract==0.3.7
python-dateutil==2.8.1
python-docx==0.8.11
python-editor==1.0.4
python-multipart==0.0.5
pytz==2021.1
PyYAML==6.0
querystring-parser==1.2.4
ray==1.5.0
rdflib==6.0.2
redis==4.0.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
sentence-transformers==2.1.0
sentencepiece==0.1.96
seqeval==1.2.2
six==1.16.0
sklearn==0.0
smart-open==3.0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
SPARQLWrapper==1.8.5
SQLAlchemy==1.4.27
SQLAlchemy-Utils==0.37.9
sqlparse==0.4.2
srsly==2.4.1
starlette==0.16.0
tabulate==0.8.9
thinc==8.0.3
threadpoolctl==2.1.0
tika==1.24
tokenizers==0.10.3
toml==0.10.2
torch==1.8.1
torchvision==0.11.1
tox==3.24.4
tqdm==4.61.0
transformers==4.6.1
typer==0.3.2
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.5
uvicorn==0.15.0
uvloop==0.14.0
validators==0.18.2
virtualenv==20.10.0
wasabi==0.8.2
weaviate-client==2.5.0
websocket-client==1.2.1
Werkzeug==0.16.1
wrapt==1.13.3
yarl==1.7.2
zipp==3.6.0
